<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings> 
    <!-- Example MySQL Connection -->
    <!--<add name="MySQLConnectionString" connectionString="server=QOIP203;User Id=xao_user;database=TEST_XAO;password=xao_user" providerName="MySql.Data.MySqlClient"/>-->
    <add name="MySQLConnectionString" connectionString="server=DOIP203;User Id=xao_user;database=XAO_INDEX_GAME;password=xao_user" providerName="MySql.Data.MySqlClient"/>
    <add name="XAOGameDBstring" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=PDDFD201)  (PORT=60002)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=xe)));User Id=draft_xao;Password=draft_xao"/>
</connectionStrings>
</configuration>